.container-documents{
  display: flex;
  flex-direction: column;
  width: 100%;

  .container-header{
    width: 100%;
    height: 80px;

    .header-title{
      width: 100%;
      background-color: #EEE2E0;
      display: flex;
      justify-content: center;
      align-items: center;

      h3{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .container-content{
      width: 100%;

      .buttons-header{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90px;
        padding-left: 25px;
        margin-top: 20px;

        .found-num-tram{
          display: flex;
          flex-direction: row;

          .found-num-tram-input{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }

        .found-current-day{
          display: flex;
          flex-direction: row;
        }
      }

      .content-pagination{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
      }

      .container-table{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @import "table";

        &.offices-table{
          table{
            width: 60%;
          }
        }

      }

      .container-buttons-footer{
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        width: 20%;
        height: 50px;

        button{
          background-color: #222;
          height: 35px;
          border-color: #222;
          margin-right: 8px;
        }
        button:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}