.container-pagination{
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-basic{
    width: 30px;
    height: 30px;

    &.btn-pagination{
      border: 1px solid #EEE2E0;
      background-color: #ffff;
      color: #000000;
      border-right: 1px transparent solid;

      &.btn-pag-first{
        border-right: 1px transparent solid !important;
      }
      &.btn-pag-last{
        border-left: 1px #EEE2E0 solid;
        border-right: 1px #EEE2E0 solid;
      }
      &.btn-pag-ultimate{
        border-right: 1px #EEE2E0 solid;
        border-left: 1px transparent solid;
      }

    }
  }
}