
.section-form{
  display: flex;
  flex-direction: row;

  input,textarea,select{
    font-size: 13px;
  }
}

.label-form{
  width: 135px;

  &.circular{
    width: 190px;
  }

  &.edit-circular-list{
    width: 85px;
  }
  &.edit-circular-label{
    width: 105px;
  }
}

.custom-list-group{
  max-height: 250px;
  overflow-y: scroll;
}