.container-login-main{
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 1px rgba(84,83,84,1);

  .login-form-titles{
    width: 60%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(30, 81, 120, 0.3);
    

    h1{
      font-size: 55px;
      color: #FFFFFF;
      -webkit-text-stroke: black;
      -webkit-text-stroke-width: 2px;
      font-weight: bold;
    }

    h5{
      font-size: 25px;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .login-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 5px;
    background-color: #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
      .login-form-header-container{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3px;

        .login-form-container-icon{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 85%;
          padding-top: 20px;
    
          .login-form-icon-shield{
            width: 9rem;
            height: 9rem;
          }
    
          .image-escudo-san-marcos{
            width: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
  
        
      }
  
  
      .login-form-labels{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 42%;
        
  
        .container-form-label{
          display: flex;
          flex-direction: column;
  
          .form-label-content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
  
            .icon{
              width: 1.5rem;
              height: 1.5rem;
              margin-top: 3px;
              margin-right: 5px;
            }
  
            .input-text{
              border: 1px solid #ccc;
              border-radius: 4px;
              height: 32px;
              line-height: 32px;
              padding-left: 5px;
            }
          }
        }
      }
  
      .login-form-button-submit{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        
        align-items: center;
  
        .button-submit{
          width: 40%;
          height: 50%;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000000;
          cursor: pointer;
          color: #FFFFFF;
          border-color: #000000;
        }
      }
  }

}
